@{
    ViewData["Title"] = "Create/Edit";
}

<div class="text-center">
    <h1 class="display-4">Create or edit an expense</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary ">Overview</a>
</div>
